
/* keep the background color wrapped tight */
/* keep the table centered */
#txt-Header {
	display: table; 
    margin: 20px auto 50px auto; 
    padding:5px;
	font-size:50px;
	background-color:#FB819F;
	color:#EDDF00;
	font-weight: bolder;
}
/**/

/*wallpaper/img in body*/
.index-Body {
	background-image: url("EarthQuakeWallpaper.png");
}

/*change hover color*/
table#example.dataTable td:hover {
	background-color: gold;
	transform: scale(1.5);
	transition: transform 0.90s;
}

/*Table color brown*/                                    
table#example.dataTable  {
	background-color: #D2B48C;
}

/*table data color*/
table#example.dataTable td {
	color: black;
	font-weight: bold;
	
}

/*table header color*/
table#example.dataTable thead  {
	color: #D80707;
	font-weight: bolder;
	font-size:20px;
	
}

/*container enclose table with border and bg pale blue
	.container1 {
	
	height: 2000px;
	margin: 10px;
	border: 5px solid;
	background-color: red;
}*/

/*shifting table in position*/
.wrapper{
	width:70%; 
	margin-left:5.5%; 
	margin-right:10%;
}
/********************************************************/
/*Css for MORE DETAILS.php*/
#wrapper_Search{
	
	width:50%; 
	margin-left: auto;
	margin-right: auto;
   
    transform: translateY(0%);
	
}
.hoverTable{
	width:100%; 
	border-collapse:collapse; 
}
.hoverTable td{ 
	padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */

/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	background-color: #b8d1f3;
	transform: scale(1.1);
	transition: transform 0.40s;
	color: brown;
	font-size:25px;
}


/******LOCATION PHP *********/
.button_loc {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 10px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}
